.wrapper {
  width: 50%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  background: #ffeccd;
  border-radius: 5px;

  .figures_container {
    width: 214px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 5px;
      background: rgba(255, 255, 255, 0.5),
    }

    &::-webkit-scrollbar-thumb {
      background-color: #B58863;
    }

    .figure_box {
      width: 48px;
    }
  }
}