.wrapper {
  width: 50%;
  padding-left: 15px;

  .figures_container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  
    .figure_box {
      width: 48px;
    }
  }
}




