.axis {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .cell {
    color: white;
    font-family: sans-serif;
    width: 75px;
    height: 75px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rotate {
    transform: rotate(-180deg);
  }
}