.board {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  height: 620px;
  border: 10px solid #634833;

  .cell_white {
    background-color: #F0D9B5;
  }

  .cell_black {
    background: #B58863;
  }

  .cell_white,
  .cell_black {
    background-size: 100%;
    width: 75px;
    height: 75px;
  }

  .last_move {
    box-shadow: inset 0px 0px 3px 5px rgba(0, 0, 0, 0.5);
  }

  .figure {
    width: 75px;
    height: 75px;
  }

  .active {
    background-color: rgba($color: #fff859, $alpha: 0.7);
    box-shadow: inset 0px 0px 30px 0 rgba(0,0,0,0.3);
  }

  .ellips {
    background-image: url('./svg/ellipse.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  .circle {
    background-image: url('./svg/circle.svg');
  }
}