.content {
  width: 512px;
  height: 790px;
  background: #F0D9B5;
  margin-left: 16px;
  padding: 32px;
  border: 10px solid #634833;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .move_queue {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .pawn {
      width: 48px;
      height: 48px;
    }
  }

  .time {
    text-align: center;
  }

  .info_box {
    display: flex;
  }
}