.wrapper {
  border: 10px solid #634833;
  background-color: #3A1A0C;
}

.gorizontalAxis {
  display: flex;
  justify-content: center;
}

.vericalAxisBox {
  display: flex;
  flex-direction: row;
}

.cell {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: 94;
}

.cell, .cell_white, .cell_black {
  width: 75px;
  height: 75px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  border: 10px solid #634833;

  .cell_white {
    background-color: #F0D9B5;
  }

  .cell_black {
    background: #B58863;
  }

  .cell_white, .cell_black {
    background-size: 100%;
  }
}